@font-face {
    font-family: "OpenSans";
    src: url("../src/resources/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSansLight";
    src: url("../src/resources/fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../src/resources/fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSansLightItalic";
    src: url("../src/resources/fonts/OpenSans-LightItalic.ttf");
}

@font-face {
    font-family: "Meslo";
    src: url("../src/resources/fonts/MesloLGMDZ-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    resize: none;
    list-style-type: none;

    font-family: OpenSans;
}
